.calendar {
    margin: 20px;
    border: 1px solid hotpink;
}

/* .example {
    display: flex;
    flex-direction: row;
}
.cell {
    width: 40px;
    height: 40px;
    
    p {
        color: rgb(255, 255, 255);
        text-align: center;
    }
}
.yes {
    background-color: rgb(48, 192, 202);
    border-radius: 50%;
    background-size: 50% auto;
}
.yes::after {
    width: 40px;
    height: 40px;
    background-color: rgb(170, 56, 164);
}
.no {
    background-color: indianred;
    opacity: 0.5;
}

.first {
    position: relative;
    &::before {
        z-index: -1;
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        // background: transparent;
        background: indianred;
        opacity: 0.5;
        width: 50%;
    }
}
.last {
    position: relative;
    &::before {
        z-index: -1;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        // background: transparent;
        background: indianred;
        opacity: 0.5;
        width: 50%;
    }
}*/