div.calendar
    div(class='datepicker-here' id='filter')

//- div.example
//-     div(class = 'cell yes first')
//-         p 1
//-     div(class = 'cell no')
//-         p 2
//-     div(class = 'cell no')
//-         p 3
//-     div(class = 'cell no')
//-         p 4
//-     div(class = 'cell no')
//-      p 5
//-     div(class = 'cell yes last')
//-         p 6
//- table
//-     tr
//-         td 