.type {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 403px;
}
.type__text_headlines {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    margin-right: 30px;
    font-family: 'Montserrat';
    color: rgba(31, 32, 65, 0.25);
    h2 {
        margin-top: 40px;
    }
    h3 {
        margin-top: 40px;
    }
}
.type__text_example {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Quicksand';
    color: #1F2041;
    h1 {
        width: 336px;
        text-align: justify;
    }
    h2 {
        margin-top: 35px;
        width: 282px;
        text-align: justify;
    }
    h3 {
        width: 186px;
        text-align: justify;
        font-family: 'Montserrat';
        margin-top: 35px;
    }
    p {
        width: 301px;
        text-align: justify;
        font-family: 'Montserrat';
        margin-top: 35px;
        line-height: 22px;
    }
}
h1 {
    font-weight: bold;
    font-size: 24px;
}
h2 {
    font-weight: bold;
    font-size: 19px;
}
h3 {
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
}
p {
    font-size: 14px;
    color: rgba(31, 32, 65, 0.75);
}