include /src/layouts/pug/mixin.pug

h3 buttons
div.buttons
    div.buttoncolor_group
        include /src/blocks/form-elements/button/color/color_button.pug
        include /src/blocks/form-elements/button/color/color_unactive/color_unactive.pug
    div.buttonwhite_group
        include /src/blocks/form-elements/button/white/white_button.pug
        include /src/blocks/form-elements/button/white/white_unactive/white_unactive.pug
    div.buttonnoback_group
        include /src/blocks/form-elements/button/unborder/unborder.pug
        include /src/blocks/form-elements/button/unborder/unborder_unactive/unborder_unactive.pug