form(name='login')
    button(class='button__white button__white_login')
        |Войти
form(name='registration')
    button(class='button__color button__color_registration')
        |Зарегистрироваться
