.header__user_nonauth {
    width: 303px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 140px;
    padding-top: 18px;
    button {
        font-family: 'Montserrat';
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        height: 34px;
    };
    .button__color {
        color: #FFFFFF;
        background: linear-gradient(to top, rgba(139, 164, 249, 1), rgba(188, 156, 255, 1));
        border: none;
        border-radius: 22px;
    };
    .button__color_registration {
        width: 196px;
    }
    .button__white {
        position: relative;
        color: #BC9CFF;
        background-color: #FFFFFF;
        border-radius: 20px;
        border: none;
        //- border: 2px solid #8BA4F9;
    };
    .button__white::before {
        content: '';
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        z-index: -1;
        margin: -2px;
        background: linear-gradient(to top, rgba(139, 164, 249, 1), rgba(188, 156, 255, 1));
        border-radius: 22px;
    }
    .button__white_login {
        width: 85px;
        height: 32px;
    };
}