div.footer__creative
    div.logo
        include /src/layouts/pug/logo.pug
    div.copyright
        include /src/blocks/footer/__copyright/footer__copyright.pug
    div.smm
        include /src/blocks/footer/__smm/_creative/footer__smm_creative.pug