div.footer__creative
    div.footer__logo_creative
        include /src/layouts/pug/logo.pug
    div.footer__copyright_creative
        include /src/blocks/footer/__copyright/footer__copyright.pug
    div.footer__smm_creative
        include /src/blocks/footer/__smm/_creative/footer__smm_creative.pug