div.colors
    div.colors__type
        div(class='colors__square colors__square_dark100')
        div(class='colors__square colors__square_dark75')
        div(class='colors__square colors__square_dark50')
        div(class='colors__square colors__square_dark25')
        div(class='colors__square colors__square_dark5')
        div(class='colors__square colors__square_purple')
        div(class='colors__square colors__square_green')
    div.colors__text
        div.colors__text_dark100
            h2 Dark Shade 100%
            p #1F2041
        div.colors__text_dark75
            h2 Dark Shade 75%
            p #1F2041
        div.colors__text_dark50
            h2 Dark Shade 50%
            p #1F2041
        div.colors__text_dark25
            h2 Dark Shade 25%
            p #1F2041
        div.colors__text_dark5
            h2 Dark Shade 5%
            p #1F2041
        div.colors__text_purple
            h2 Purple
            p #BC9CFF
        div.colors__text_green
            h2 Green
            p #6FCF97