.rating > input {
    display: none;
}
.rate-button+label::before {
    content: url('/src/images/svg/star_border.svg');
}
.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 120px;
    height: 24px;
}
.rate-button:checked ~ label::before,
.rating:not(:checked) > label:hover::before,
.rating:not(:checked) > label:hover ~ label::before {
    content: url('/src/images/svg/star.svg');
}
.rating_example {
    width: 260px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}