include /draft/main/layouts/pug/mixin.pug

+smm('#','/draft/main/layouts/svg/twit.svg','twitter')
+smm('#','/draft/main/layouts/svg/fb__min.svg','facebook')
+smm('#','/draft/main/layouts/svg/ig.svg','instagram')