include /src/layouts/pug/mixin.pug

div.find-form
    h1 Найдём номера под ваши пожелания
    div.find-form__datepicker
        div.find_form__datepicker_arrival
            h3 прибытие
            +datepicker('ДД.ММ.ГГГГ')(class='textfield date dropdown dropdown_date')
        div.find_form__datepicker_departure
            h3 выезд
            +datepicker('ДД.ММ.ГГГГ')(class='textfield date dropdown dropdown_date')
    div.find_form__guest
        h3 гости
        div(class='iqdropdown textfield')
            p(class='iqdropdown-selection' data-seletion-text='гостей' data-text-plural='Сколько гостей')
            div.iqdropdown-menu
                div(class='iqdropdown-menu-option' data-id='item1')
                    div
                        p.iqdropdown-item взрослые
                div(class='iqdropdown-menu-option' data-id='item2')
                    div
                        p.iqdropdown-item дети
                div(class='iqdropdown-menu-option' data-id='item2')
                    div
                        p.iqdropdown-item младенцы
    div.find_form__button
        +fbutton('find', 'Подобрать номер')(class='button__color pay_button') 
    