div.find_form
    h1 Найдём номера под ваши пожелания
    div.find_form__datepicker
        div.find_form__datepicker_arrival
            h3 прибытие
            input(class='datepicker-here' type='text' placeholder='ДД.ММ.ГГГГ')
        div.find_form__datepicker_departure
            h3 прибытие
            input(class='datepicker-here' type='text' placeholder='ДД.ММ.ГГГГ')
    div.find_form__guest
        h3 гости
        div.iqdropdown
            p(class='iqdropdown-selection' data-seletion-text='гостей' data-text-plural='Сколько гостей')
            div.iqdropdown-menu
                div(class='iqdropdown-menu-option' data-id='item1')
                    div
                        p.iqdropdown-item взрослые
                div(class='iqdropdown-menu-option' data-id='item2')
                    div
                        p.iqdropdown-item дети
                div(class='iqdropdown-menu-option' data-id='item2')
                    div
                        p.iqdropdown-item младенцы
    div.find_form__button
        form(name='find')
            button(class='button__color') Подобрать номер
    