.footer__navigation_form {
    display: flex;
    width: 260px;
    height: 44px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
    //- margin-top: 10px;
    input {
        border: none;
        width: 216px;
    };
    button {
        border: none;
        height: 44px;
        background-color: white;
    }
    input::placeholder {
        font-family: 'Montserrat';
        font-size: 13px;
        line-height: 24px;
        color: rgba(31, 32, 65, 0.25);
        //vertical-align: top;
        padding-left: 12px;
    }
}