.review {
    width: 711px;
    height: 133px;
    display: flex;
    flex-direction: row;
}
.user {
    width: 48px;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    margin-right: 10px;
}
.feedback {
    display: flex;
    flex-direction: column;
    height: 100%;
    p {
        font-family: 'Montserrat';
        font-size: 14px;
        color: rgba(31, 32, 65, 0.75);
        margin: 0;
        line-height: 24px;
    }
}
.name {
    height: 45px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 11px;
}
.av {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    margin-bottom: 9px;
}