include /src/layouts/pug/mixin.pug

div.review
    div.user
        div.av
            +image('/src/images/img/feedback/feedback.png', 'user_photo')
        div(class='like-button-full like-button-full_active')
            +radio('like', '12')(class='like-button' checked)
    div.feedback
        div.name
            p
                b Мурад Сарафанов
            p 5 дней назад
        p Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.