include /src/layouts/pug/mixin.pug

+image('#', 'user_photo')
p Мурад Сарафанов 5 дней назад
p Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.