include /src/layouts/pug/mixin.pug

div.room_first__image
    +image('#', 'luxroom')
div(class='room__type room__type_first')
    h2 №888 люкс
    p 9 990₽ в сутки
div(class='room__rating room__rating_first')
    div.room__rating_star
        
    div.room__rating_review
        p 145 Отзывов
