include /src/layouts/pug/mixin.pug

div.room_first__image
    +image('#', 'standartroom')
div(class='room__type room__type_second')
    h2 №840
    p 9 990₽ в сутки
div(class='room__rating room__rating_second')
    div.room__rating_star
        
    div.room__rating_review
        p 65 Отзывов