.footer__navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    ul {
        list-style-type: none;
    };
}
.footer__navigation_list {
    display: flex;
    flex-direction: column;
}