include /src/layouts/pug/mixin.pug

h2 навигация
+nav('О нас','#')
br
+nav('Новости','#')
br
+nav('Служба поддержки','#')
br
+nav('Услуги','#')
h2 о нас
+nav('О сервисе','#')
br
+nav('Наша команда','#')
br
+nav('Вакансии','#')
br
+nav('Инвесторы','#')
h2 служба поддержки
+nav('Соглашения','#')
br
+nav('Сообщества','#')
br
+nav('Связь с нами','#')
h2 подписка
br
|Получайте специальные предложения и новости сервиса
