include /src/layouts/pug/mixin.pug

div.footer__navigation_list
    h2 навигация
    +nav('О нас','#')
    +nav('Новости','#')
    +nav('Служба поддержки','#')
    +nav('Услуги','#')

div.footer__navigation_list
    h2 о нас
    +nav('О сервисе','#')
    +nav('Наша команда','#')
    +nav('Вакансии','#')
    +nav('Инвесторы','#')

div.footer__navigation_list
    h2 служба поддержки 
    +nav('Соглашения','#')
    +nav('Сообщества','#')
    +nav('Связь с нами','#')

div.footer__navigation_list
    h2 подписка
    br
    |Получайте специальные предложения и новости сервиса
