include /src/layouts/pug/mixin.pug

div.footer__navigation_list
    h2 НАВИГАЦИЯ
    br
    +nav('О нас','#')
    br
    +nav('Новости','#')
    br
    +nav('Служба поддержки','#')
    br
    +nav('Услуги','#')

div.footer__navigation_list
    h2 О НАС
    br
    +nav('О сервисе','#')
    br
    +nav('Наша команда','#')
    br
    +nav('Вакансии','#')
    br
    +nav('Инвесторы','#')

div.footer__navigation_list
    h2 СЛУЖБА ПОДДЕРЖКИ
    br
    +nav('Соглашения','#')
    br
    +nav('Сообщества','#')
    br
    +nav('Связь с нами','#')

div.footer__navigation_subs
    h2 ПОДПИСКА
    br
    |Получайте специальные предложения и новости сервиса
div.footer__navigation_form
    form(name='subscription')
        input(type='text' placeholder='E-mail' required)
        button
            img(src='/src/images/svg/arrow.svg')
