h3 pagination
div.pagination
    p(class='actual-page') 1
    p(class='other-page') 2
    p(class='other-page') 3
    p(class='other-page') ...
    p(class='other-page') 15
    p.next-page
        img(src='/src/images/svg/arrow_white.svg', alt='arrow_forward')
p 1 – 12 из 100+ вариантов аренды