div.cards
    div.first-column
        include /src/blocks/cards/find_form/find_form.pug
        include /src/blocks/cards/registration/registration.pug
    div.second-column
        include /src/blocks/cards/reservation/reservation.pug
        include /src/blocks/cards/login/login.pug
    div.third-column
        include /src/blocks/cards/calendar/calendar.pug
        include /src/blocks/cards/room/room_first.pug
        include /src/blocks/cards/room/room_second.pug