@font-face {
    font-family: 'quicksand';
    src: url('/draft/main/layouts/fonts/quicksand/quicksand-v21-latin-regular.woff') format('woff');
    src: url('/draft/main/layouts/fonts/quicksand/quicksand-v21-latin-regular.ttf') format('truetype');
    src: url('/draft/main/layouts/fonts/quicksand/quicksand-v21-latin-regular.svg') format('svg')
};
@font-face {
    font-family: 'opensans';
    src: url('/draft/main/layouts/fonts/opensans/open-sans-v18-latin-regular.woff') format('woff');
    src: url('/draft/main/layouts/fonts/opensans/open-sans-v18-latin-regular.ttf') format('truetype');
    src: url('/draft/main/layouts/fonts/opensans/open-sans-v18-latin-regular.svg') format('svg')
}
@font-face {
    font-family: 'os';
    src: url('/draft/main/layouts/fonts/os/OpenSans-Regular.ttf');
}