@font-face {
    font-family: 'opensans';
    src: url('/draft/main/layouts/fonts/opensans/open_sans.ttf');
    src: url('/draft/main/layouts/fonts/opensans/open_sans.woff');
    src: url('/draft/main/layouts/fonts/opensans/open_sans.svg');
}