div.footer
    include /src/blocks/footer/__logo/footer__logo.pug
    include /src/blocks/footer/__navigation/footer__navigation.pug
div.footer_copyright
    include /src/blocks/footer/__copyright/footer__copyright.pug
    include /src/blocks/footer/__smm/footer__smm.pug