.footer__creative {
    width: 768px;
    //- background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 0px 120px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
.logo {
    display: flex;
    width: 106px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.copyright {
    width: 560px;
    display: flex;
    justify-content: center;
    text-align: justify;
    margin-bottom: 10px;
    line-height: 16px;
    letter-spacing: 0.5px;
    color: rgba(31, 32, 65, 0.75);
}
.smm {
    width: 110px;
    display: flex;
    justify-content: space-between;
}