div.footer
    include /draft/main/uikit/footer/part/footer_logo.pug
    include /draft/main/uikit/footer/part/footer_navigation.pug
div.footer_copyright
    include /draft/main/uikit/footer/part/copyright.pug
    include /draft/main/uikit/footer/part/smm.pug