.footer__copyright_creative {
    width: 560px;
    display: flex;
    justify-content: center;
    text-align: justify;
    margin-bottom: 10px;
    line-height: 16px;
    letter-spacing: 0.5px;
    color: rgba(31, 32, 65, 0.75);
}