include /src/layouts/pug/mixin.pug

div.textfield-name
    h3 subscription text field
div.subscription-button_full
    +texttype('Email')(class='subscription-button')
    input(type='submit' class='subscription-button_submit' value='')