include /src/layouts/pug/mixin.pug

+richcheck('rich', 'Широкий коридор', 'Ширина коридоров в номере не менее 91 см.')
+richcheck('rich', 'Помощник для инвалидов', 'На 1 этаже вас встретит специалист  и проводит до номера.')