.rich-checkbox {
    width: 266px;
    height: 114px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.rich-checkbox {
    label {
        font-family: 'Montserrat';
        font-size: 14px;
        font-weight: bold;
        color: rgba(31, 32, 65, 0.75);
    }
}
.rich-checkbox_text {
    width: 236px;
    margin-left: 30px;
    p {
        font-family: 'Montserrat';
        font-size: 12px;
        line-height: 14px;
        color: rgba(31, 32, 65, 0.5);
    }
}