@import '/src/blocks/footer/footer.scss';
@import '/src/fonts/fonts.scss';

body {
    max-width: 1920px;
    min-width: 320px;
    //- background-color: #c2b9b9;
    padding: 0;
    border: 0;
    margin: 0;
    font-size: 14px;
    font-family: 'opensans';
}