@import '/src/fonts/fonts.scss';

@import '/src/blocks/colors/colors.scss';

@import '/src/blocks/footer/__creative/footer__creative.scss';
@import '/src/blocks/footer/footer.scss';

@import '/src/blocks/header/header.scss';

@import '/src/test/nice/stb.dropdown.css';
@import '/src/test/nice/stb.dropdown.min.css';

/*body {
    max-width: 1920px;
    min-width: 320px;
    background-color: #c2b9b9;
    padding: 0;
    border: 0;
    margin: 0;
    font-size: 14px;
    font-family: 'Montserrat';
}*/