@import '/src/fonts/fonts.scss';

@import '/src/pages/ui-kit/colors_type/colors_type.scss';
@import '/src/blocks/form-elements/form-element.scss';

@import '/src/blocks/footer/__creative/footer__creative.scss';
@import '/src/blocks/footer/footer.scss';

@import '/src/blocks/header/header.scss';

@import '/src/blocks/cards/cards.scss';

body {
    max-width: 1920px;
    min-width: 320px;
    background-color: #f8f1f1;
    padding: 0;
    border: 0;
    margin: 0px;
}