.footer__navigation_list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: 'Montserrat';
    font-size: 14px;
    line-height: 17px;

    h2 {
        font-family: 'Montserrat';
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        color: #1F2041;
    };
    a {
        color: rgba(31, 32, 65, 0.5);
        text-decoration: none;
        font-family: 'Montserrat';
        font-size: 14px;
        line-height: 17px;
    }
}