include /src/layouts/pug/mixin.pug

select
    option(disabled selected)
        +check('option', 'expandable checkbox list')
    option()
        +check('option', 'Завтрак')
    option()
        +check('option', 'Письменный стол')
    option()
        +check('option', 'Стул для кормления')
    option()
        +check('option', 'Кроватка')
    option()
        +check('option', 'Телевизор')
    option()
        +check('option', 'Шампунь')