.button__white {
    position: relative;
    color: #BC9CFF;
    background-color: #FFFFFF;
    border-radius: 20px;
    border: none;
    //- border: 2px solid #8BA4F9;
};
.button__white::before {
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -1;
    margin: -2px;
    background: linear-gradient(to top, #8BA4F9, #BC9CFF);
    border-radius: 22px;
}