div.header
    div.header__logo
        include /src/blocks/header/__logo/header__logo.pug
    div.header__navigation
        include /src/blocks/header/__navigation/header__navigation.pug
    div.header__user_auth
        include /src/blocks/header/__user/_auth/header__user_auth.pug