div.footer__creative
    div.logo
        include /draft/main/layouts/pug/logo.pug
    div.copyright
        include /draft/main/uikit/footer/part/copyright.pug
    div.smm
        include /draft/main/uikit/footer/part/smm__creative.pug