include /src/layouts/pug/mixin.pug

div.registration
    div.registration__name
        +texttype('Имя')(class='registration__name_input')
        +texttype('Фамилия')(class='registration__name_input')
    div.registration__sex
        input(class='registration__sex_input' type='radio' name='sex')
        |Мужчина
        input(class='registration__sex_input' type='radio' name='sex')
        |Женщина
    div.registration__birth
        h3 дата рождения
        +texttype('ДД.ММ.ГГГГ')(class='registration__birth_input')
    div.registration__login
        h3 данные для входа в сервис
        +texttype('E-mail')(class='registration__login_input')
        +texttype('Пароль')(class='registration__login_input')
    div.registration__sub
        input(class='registration__sub_input' type='checkbox')
        |Получать спецпредложения
    div.registration__pay
        +fbutton('pay', 'Перейти к оплате')(class='registration__pay_button button__color')
    div.registration__login
        p Уже есть аккаунт на Toxin
        +fbutton('gologin', 'Войти')(class='registration__login_button button__white')