include /src/layouts/pug/mixin.pug
div.advantage
    div.first_advantage
        div.firstimg
            +image('/src/images/svg/smile.svg', 'smile')
        p #[b Комфорт]
            br
            |Шумопоглощающие стены
    div.second_advantage
        div.firstimg
            +image('/src/images/svg/build.svg', 'build')
        p #[b Удобство]
            br
            |Окно в каждой из спален