include /src/layouts/pug/mixin.pug

.rating
        +rate('rating', '5')(class='rate-button')
        +rate('rating', '4')(class='rate-button')
        +rate('rating', '3')(class='rate-button')
        +rate('rating', '2')(class='rate-button')
        +rate('rating', '1')(class='rate-button')