include /src/layouts/pug/mixin.pug

h3 toggle
div.toggle
    div.toggle-button_full
        +check('special', 'Получать спецпредложения')(class='toggle-button' checked)
    div.toggle-button_full
        +check('special', 'Получать спецпредложения')(class='toggle-button')