.toggle {
    display: flex;
    flex-direction: column;
}
.toggle-button_full {
    display: flex;
    flex-direction: row;
}
.toggle-button {
    position: relative;
    display: inline-block;
    border-radius: 10px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    width: 40px;
    height: 20px;
    margin: 0;
    margin-right: 10px;
    vertical-align: top;
    outline: none;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.toggle-button::after {
    content: '';
    display: inline-block;
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgba(31, 32, 65, 0.25);
    left: 4px;
    top: 3px;
    transform: translateX(0);
}
.toggle-button:checked::after {
    transform: translateX(calc(100% + 4px));
    background: linear-gradient(to top, rgba(139, 164, 249, 1), rgba(188, 156, 255, 1));
}
.toggle-button:checked {
    border: 1px solid rgba(188, 156, 255, 1);
}